<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap"
      rel="stylesheet"
    />
    <!-- fonts -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Document</title>
  </head>

  <body>
    <%- include('partials/header') %>
    <!-- carousel ///////////////-->

    <section class="section hero-section"></section>
    <section class="section info-section">
      <h1>All About African Culture and Diversity</h1>
      <div class="culture-intro">
        <div class="">
          <p>
            One of the most defining aspects of African culture is its deep
            connection to tradition. Many African cultures place a strong
            emphasis on passing down customs and practices from generation to
            generation. This can be seen in the way that many African tribes
            continue to hold traditional ceremonies and rituals, such as
            weddings, funerals, and coming-of-age celebrations.
          </p>
        </div>
        <div class="div-even">
          <div class="pic-div">
            <img
              src="https://www.jenmansafaris.com/wp-content/uploads/2014/04/Angola-Bantu-Culture.jpg"
              alt=""
            />
          </div>
          <div>
            <p>
              Another important aspect of African culture is its diversity of
              tribes. Each tribe has its own unique customs, beliefs, and
              traditions, and many are fiercely proud of their heritage. Some of
              the most famous African tribes include the Maasai of Kenya and
              Tanzania, the Zulu of South Africa, and the Ashanti of Ghana.
            </p>
          </div>
        </div>

        <div class="div-odd">
          <div>
            <p>
              African culture is also known for its vibrant and expressive
              dances. Many African dances are deeply rooted in tradition, and
              are used to celebrate important events and milestones in a
              person's life. Some of the most popular African dances include the
              Zulu dance, the Ashanti Adowa dance, and the Maasai jumping dance.
            </p>
          </div>
          <div class="pic-div">
            <img
              src="https://www.shutterstock.com/image-vector/dancing-aboriginespapuanaborigine-260nw-144685856.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="div-even">
          <div class="pic-div">
            <img src="https://freesvg.org/img/AfricaMap.png" alt="" />
          </div>
          <div>
            <p>
              When it comes to the countries that make up the African continent,
              each one has its own unique culture and history. Some of the most
              well-known African countries include Egypt, which is known for its
              ancient pyramids and rich history; South Africa, which has a
              diverse mix of cultures and is home to many famous landmarks such
              as Table Mountain; and Kenya, which is famous for its wildlife and
              Maasai Mara National Reserve.
            </p>
          </div>
        </div>

        <div class="">
          <p>
            In conclusion, African culture is a melting pot of traditions,
            tribes, dances, and countries that all contribute to its rich and
            diverse character. From the Maasai of Kenya to the Ashanti of Ghana,
            African culture continues to evolve and thrive, and is something
            that should be celebrated and appreciated by all.
          </p>
        </div>
      </div>
    </section>
    <div>
      <h2 class="rescent-posts">Recent posts</h2>
    </div>
    <!-- //////////////////////// -->

    <%- include('partials/contentCard') %> <%- include('partials/footer') %>
  </body>
</html>
